@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
body {
  background: #0f0c29; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  height: 100vh;
}

::-moz-selection {
  background-color: rgba(222, 213, 87, 0.4196078431);
}

::selection {
  background-color: rgba(222, 213, 87, 0.4196078431);
}

.header {
  position: absolute;
  height: 50px;
  z-index: 5;
  top: 20px;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header li {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(200, 166, 12);
  border-radius: 5px;
  padding: 10px;
}
.header li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
}

.header--logo {
  display: none;
}

.header ul li:hover {
  background-color: #DED557;
  transition: all 1s;
}
.header ul li:hover a {
  color: black;
}

.presentation {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.presentation--texte {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hello {
  color: #DED557;
  margin: 20px 0;
}

.name {
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.metier {
  margin-top: 20px;
  font-size: 25px;
  color: white;
  font-weight: 100;
}

.presentation--visuel img {
  display: none;
}

#btn--apparition {
  display: none;
}

.btn--move {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: box-shadow 0.4s;
  cursor: pointer;
}
.btn--move:hover {
  box-shadow: 0 0 0px 3px white;
}

.move--down--rebond {
  position: absolute;
  left: 13px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-left: 2px ridge white;
  border-bottom: 2px ridge white;
  transform: rotate(-45deg);
  animation: down 1s alternate infinite;
  box-sizing: border-box;
}

.r1 {
  top: 10px;
}

.section {
  width: 100%;
  padding: 3% 10%;
}

.mes--competences {
  background: rgba(48, 43, 99, 0.6392156863);
}

h1 {
  font-size: 14px;
  color: #DED557;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  padding: 10px 10px 0 10px;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  padding: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.services {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.services img {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.service {
  border: 1px solid #DED557;
  flex-basis: 100%;
  height: auto;
  margin: 10px;
  padding: 20px;
}
.service:hover {
  border: 2px solid #DED557;
}

p {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 14px;
  font-weight: 100;
}

.projets {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
}

.slider {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider--indicators {
  display: none;
}

.slider::-webkit-scrollbar-thumb {
  color: #DED557;
}

.nav--btn {
  display: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 25px;
  background-color: rgba(48, 43, 99, 0.0431372549);
  border-bottom: 1px solid #DED557;
  padding-bottom: 15px;
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.scale:hover {
  transform: scale(1.15);
  margin: 30px;
}

.card img {
  height: 230px;
  width: 100%;
  border-radius: 5px;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h4 {
  color: #DED557;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

h5 {
  color: white;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.card p {
  margin: 10px 0;
  width: 90%;
}

.ensavoirplus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  border: 1px solid #DED557;
  color: #DED557;
}
.ensavoirplus:hover {
  background-color: #DED557;
  color: black;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #302b63;
}

body::-webkit-scrollbar-thumb {
  background-color: #0f0c29;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(222, 213, 87, 0.4196078431);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 65px;
  height: 65px;
  margin: 20px;
  border-radius: 100%;
  transition: all 0.4s;
  cursor: pointer;
}

.icon:nth-child(1):hover {
  box-shadow: 0 0 0px 10px #c71610;
}

.icon:nth-child(2):hover {
  box-shadow: 0 0 0px 10px #0e76a8;
}

.icon:nth-child(3):hover {
  box-shadow: 0 0 0px 10px #25D366;
}

.icon:nth-child(4):hover {
  box-shadow: 0 0 0px 10px #5865F2;
}

.fa-envelope {
  color: #c71610;
  filter: drop-shadow(0 0 10px #c71610);
}

.fa-linkedin {
  color: #0e76a8;
  filter: drop-shadow(0 0 10px #0e76a8);
}

.fa-whatsapp {
  color: #25D366;
  filter: drop-shadow(0 0 10px #25D366);
}

.fa-discord {
  color: #5865F2;
  filter: drop-shadow(0 0 10px #5865F2);
}

footer {
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 500px) {
  .icon {
    margin: 0px;
  }
}
@media screen and (max-width: 680px) {
  .projets {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
}
@media screen and (min-width: 650px) {
  .header {
    justify-content: space-around;
  }
  .header--logo {
    display: block;
    height: 50px;
    transition: all 0.5s;
  }
  .header--logo img {
    max-width: 100%;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header--logo:hover {
    color: white;
    filter: drop-shadow(0 0 10px white);
  }
  .header li a.contacter {
    font-size: 0;
  }
  .header li a.contacter::before {
    content: "ME CONTACTER";
    text-align: center;
    font-size: 14px;
  }
  .first {
    margin-left: -6px;
  }
}
@media screen and (min-width: 700px) {
  .presentation--visuel {
    margin: 10px;
  }
  .presentation--visuel img {
    display: block;
    height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
    animation: apparitionPhoto 2s ease-in-out;
  }
  .presentation--texte {
    width: 50%;
    position: relative;
    animation: apparitionTexte 2s ease-in-out;
    margin: 10px;
  }
  .section {
    width: 100%;
    padding: 3% 10%;
  }
  .bg--sectionpaire {
    background-color: rgba(48, 43, 99, 0.6392156863);
  }
  h1, h2, h3 {
    text-align: left;
  }
  .services {
    flex-wrap: nowrap;
  }
  .slider--indicators {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .indicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.646);
    margin: 4px;
    cursor: pointer;
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
  }
  .indicator:hover {
    background: #DED557;
  }
  .active {
    background: #DED557;
  }
  .ensavoirplus {
    width: 50%;
  }
}
@media screen and (min-width: 940px) {
  .presentation--visuel img {
    height: 800px;
  }
  .presentation {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
  }
  .hello {
    color: rgb(211, 183, 24);
    margin: 20px 0;
  }
  .name {
    color: white;
    font-size: 75px;
    font-weight: bold;
  }
  .first {
    margin-left: -6px;
  }
  .metier {
    font-size: 30px;
    color: white;
    font-weight: 100;
  }
  .services img {
    display: inline-block;
    height: 80px;
  }
  .service {
    margin: 20px;
    padding: 20px;
  }
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
  }
  .card {
    flex: 0 0 40%;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 30px;
  }
  .card p {
    line-height: 25px;
  }
  .nav--btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.646);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .nav--btn:hover {
    color: white;
    top: 48%;
  }
  .gonext {
    left: 100%;
  }
  .goback {
    right: 105%;
  }
  .icon {
    margin: 40px;
  }
  .icon:nth-child(1):hover {
    padding: 40px;
  }
  .icon:nth-child(2):hover {
    padding: 40px;
  }
  .icon:nth-child(3):hover {
    padding: 40px;
  }
  .icon:nth-child(4):hover {
    padding: 40px;
  }
}
@media screen and (min-width: 1400px) {
  .card img {
    height: 400px;
  }
  .projets {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
  }
  .slider {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slider--indicators {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  .indicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.646);
    margin: 4px;
    cursor: pointer;
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
  }
  .indicator:hover {
    background: #DED557;
  }
  .active {
    background: #DED557;
  }
  .slider::-webkit-scrollbar {
    height: 0 !important;
  }
}
@keyframes apparitionPhoto {
  0% {
    transform: rotate(90deg) translateY(-1000px);
  }
}
@keyframes apparitionTexte {
  0% {
    transform: translateY(1000px);
  }
}
@keyframes down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes apparitionBtnDown {
  0% {
    transform: translateY(1000px);
  }
}/*# sourceMappingURL=index.css.map */