@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

html {
        font-size: 62.5%;
}

body {
        background: #FAF8EA;
        background-attachment: fixed;
        font-family: 'Poppins', sans-serif;
        height: 100vh;
        overflow-x: hidden;
}

footer {
        align-items: center;
        color: black;
        display: flex;
        font-size: 1.4rem;
        height: 10vh;
        justify-content: center;
        text-align: center;
}

header {
        align-items: center;
        display: flex;
        justify-content: right;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-right: 20rem;
}

h1 {
        color: black;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
}

h2 {
        color: black;
        font-size: 4.5rem;
        font-weight: bold;
}

h3 {
        color: black;
        font-size: 2.5rem;
        font-weight: 100;
        margin-top: 2rem;
}

p {
        color: black;
        font-size: 1.4rem;
        font-weight: 100;
        text-align: justify;
}

/* header nav */

.nav--ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.nav--li {
        border: 0.2rem solid lightgray;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        padding: 1rem;
}

.nav--li--a {
        color: black;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        text-align: center;
        text-decoration: none;
        width: 10rem;
}


/* main presentation */

.bounce-in-right {
        -webkit-animation: bounce-in-right 2.1s both;
        animation: bounce-in-right 2.1s both;
}

/* animation photo */
@-webkit-keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(60rem);
                transform: translateX(60rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }

        38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }

        55% {
                -webkit-transform: translateX(6.8rem);
                transform: translateX(6.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        81% {
                -webkit-transform: translateX(3.2rem);
                transform: translateX(3.2rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        95% {
                -webkit-transform: translateX(0.8rem);
                transform: translateX(0.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(60rem);
                transform: translateX(60rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }

        38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }

        55% {
                -webkit-transform: translateX(6.8rem);
                transform: translateX(6.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        81% {
                -webkit-transform: translateX(3.2rem);
                transform: translateX(3.2rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        95% {
                -webkit-transform: translateX(0.8rem);
                transform: translateX(0.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

.presentation {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 78vh;
        overflow: hidden;
        padding: 2rem;
        text-align: center;
        width: 100%;
}

.presentation--texte {
        font-size: 4rem;
        margin-right: 10rem;
}

.section {
        padding: 3% 10%;
        width: 100%;
}

/* contact presentation */

.presentation--contact {
        margin-top: 2rem;
}

.presentation--contact a {
        margin: 0;
        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 35px;
        width: 35px;
        line-height: 1.45;
        font-weight: 400;
        user-select: text;
}

.presentation--contact--li {
        padding: 2rem;
        position: relative;
}

.presentation--contact ul li:hover {

        margin: 3rem 0;
}

.presentation--contact--li svg {
        fill: inherit;
}

.presentation--contact--li:hover svg {
        fill: #755cde;
        white-space: pre-wrap;
        transform: translateY(-5px);
        /* Translation vers le haut */
}

.presentation--contact--li::before {
        content: attr(data-title);
        font-size: 1.4rem;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        background-color: #000;
        /* Fond noir initial */
        color: #fff;
        /* Texte blanc initial */
        border-radius: 5px;
        opacity: 0;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.presentation--contact--li:hover::before {
        content: attr(data-title);
        font-size: 1.4rem;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        background-color: #000;
        /* Fond noir */
        color: #fff;
        /* Texte blanc */
        border-radius: 5px;
        opacity: 1;
        transition: opacity 150ms linear, transform 150ms linear;
}

/* softs-skills */
.section--skills {
        overflow: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
}

.container--skills {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 2rem;
}

.item-skill {
        display: flex;
        flex-direction: column;
}
.item-skill h3{
       align-self: center;
       margin-bottom: 2rem;
       /* text-decoration: underline; */
       background-image: linear-gradient(to right, transparent 15%, red 50%, transparent 15%);
       background-position: 0 100%;
       background-size: 100% 2px; /* Ajustez l'épaisseur du soulignement ici */
       background-repeat: no-repeat;
}
.skill{
        font-size: 2rem;
}