@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


:root {
        --bg-color: linear-gradient(to right, #24243E, #302B63, #0F0C29);
        --text-primary: white;
        --color-gold: rgb(211, 183, 24);
        --drop-shadow: drop-shadow(0 0 10px #d3d3d3);
        --font-family-primary: 'Hammersmith One', sans-serif;
        --text--shadow :  0 0 10px var(--color1),
        0 0 20px var(--color1),
        0 0 40px var(--color1),
        0 0 80px var(--color1);

}

html {
        font-size: 62.5%;
}

body {
        background: var(--bg-color, #302B63);
        background-attachment: fixed;
        font-family: var(--font-family-primary);
        height: 100vh;
        margin: auto;
        overflow-x: hidden;
        width: 90vw;
}

footer {
        align-items: center;
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 3% 10%;
        width: 100%;
        color: #d3d3d3;
}

header {
        height: 10vh;
        width: 100%;
        margin: auto;
}

h2 {
        font-size: 8rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
}

h3 {

        font-size: 2.5rem;
        font-weight: 100;
        margin-top: 2rem;
}

h2,
h3,
h4 {
        color: #425B8A;
}

nav {
        width: 100%;
}

section {
        margin: auto;
        margin-bottom: 40rem;
}

section:first-of-type,
section:last-of-type {
        margin-bottom: 3rem;
}

/* header nav */

/* Button component */
.button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        margin: 1em 0.8em;
        outline: none;
        padding: 1em 1.5em;
        position: relative;
}


.button.type1::after,
.button.type1::before {
        border: 2px solid;
        border-radius: 2px;
        content: '';
        display: block;
        height: 20%;
        position: absolute;
        transition: width 0.6s ease, height 0.6s ease;
        width: 20%;
}

.button.type1::after {
        bottom: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: var(--color-gold);
        border-right-color: var(--color-gold);
        right: 0px;
}

.button.type1::before {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: var(--color-gold);
        border-left-color: var(--color-gold);
        left: 0;
        top: 0;
}

.button.type1:hover::after,
.button.type1:hover::before {
        border-bottom-color: var(--color-gold);
        border-right-color: var(--color-gold);
        border-top-color: var(--color-gold);
        border-left-color: var(--color-gold);
        height: 100%;
        width: 100%;
}

/* .button.type1:hover::after {
        right: -20px;
} */

.header__logo--link {
        margin-left: 8rem;
        transition: filter 0.8s;
}

.header__logo--link:hover {
        cursor: pointer;
        filter: var(--drop-shadow);
}

.header__logo--img {
        height: 200px;
        max-width: 100%;
        object-fit: cover;
}

.nav__li--a {
        color: var(--text-primary);
        display: block;
        font-family: 'Hammersmith One', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        margin: auto;
        text-align: center;
        text-decoration: none;
        width: auto;
}

.nav__ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

/* main presentation */

.bounce-in-right {
        animation: bounce-in-right 2.1s both;
        -webkit-animation: bounce-in-right 2.1s both;
}

.presentation {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 90vh;
        overflow: hidden;
        text-align: center;
        width: 100%;
}

.presentation__content {
        align-items: stretch;
        display: flex;
        height: 70vh;
        justify-content: space-between;
        width: 100%;
}

.presentation__content--texte {
        display: flex;
        flex-direction: column;
        font-family: var(--font-family-primary);
        justify-content: space-around;
        font-size: 4rem;

}

.presentation__content--texte strong {
        color: var(--text-primary);
        font-size: 7.5rem;
        font-weight: bold;
}

.presentation__content--texte p {
        color: var(--color-gold);
        font-size: 4rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        text-align: center;
}

.presentation--visuel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
}



/* animation photo */
@-webkit-keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(60rem);
                transform: translateX(60rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }

        38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }

        55% {
                -webkit-transform: translateX(6.8rem);
                transform: translateX(6.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        81% {
                -webkit-transform: translateX(3.2rem);
                transform: translateX(3.2rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        95% {
                -webkit-transform: translateX(0.8rem);
                transform: translateX(0.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(60rem);
                transform: translateX(60rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }

        38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }

        55% {
                -webkit-transform: translateX(6.8rem);
                transform: translateX(6.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        81% {
                -webkit-transform: translateX(3.2rem);
                transform: translateX(3.2rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        95% {
                -webkit-transform: translateX(0.8rem);
                transform: translateX(0.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

/* contact presentation */
.data--title {
        position: relative;
}

.data--title::before,
.data--title:hover::before {
        background-color: var(--color-gold);
        bottom: 100%;
        border-radius: 5px;
        content: attr(data-title);
        color: var(--text-primary, white);
        font-family: var(--font-family-primary);
        font-size: 1.4rem;
        left: 50%;
        padding: 5px;
        position: absolute;
        transform: translateX(-60%);
        width: 90%;
}

.data--title::before {
        opacity: 0;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.data--title:hover::before {

        opacity: 1;
        transition: opacity 150ms linear, transform 150ms linear;
}

.presentation--contact {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
}

.presentation--contact a {
        display: inline-block;
        font-weight: 400;
        height: 35px;
        line-height: 1.45;
        margin: 0;
        position: relative;
        text-decoration: none;
        user-select: text;
        width: 35px;
}

.presentation--contact--li {
        padding: 4rem 4rem 4rem 0;
        position: relative;
}

.presentation--contact ul li:hover {
        margin: 3rem 0;
}

.presentation--contact--li svg {
        fill: #811453;
}

.presentation--contact--li:hover svg {
        fill: var(--color-gold);
        transform: translateY(-5px);
        white-space: pre-wrap;
}

/* end */



.container--chevron {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vw;
        height: 10vh;

}


.chevron {
        position: absolute;
        width: 4.5rem;
        height: 0.48rem;
        opacity: 0;
        transform: scale(0.3);
        animation: move-chevron 3s ease-out infinite;
}

.container--chevron:hover {
        cursor: pointer;
}

.chevron:first-child {
        animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
        animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        background: var(--color-gold);
}

.chevron:before {
        left: 0;
        transform: skewY(30deg);
}

.chevron:after {
        right: 0;
        width: 50%;
        transform: skewY(-30deg);
}

@keyframes move-chevron {
        25% {
                opacity: 1;
        }

        33.3% {
                opacity: 1;
                transform: translateY(1.92rem);
                /* Remplacer par la valeur résultante de 0.6rem * 3.8 */
        }

        66.6% {
                opacity: 1;
                transform: translateY(2.72rem);
                /* Remplacer par la valeur résultante de 0.6rem * 5.2 */
        }

        100% {
                opacity: 0;
                transform: translateY(4.8rem) scale(0.5);
                /* Remplacer par la valeur résultante de 0.6rem * 8 */
        }
}

/* skills */
#competences {
        padding: 20px;
        border-top-left-radius: 37px 140px;
        border-top-right-radius: 23px 130px;
        border-bottom-left-radius: 110px 19px;
        border-bottom-right-radius: 120px 24px;
        border: solid 5px #6e7491;
        box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
        width: 90vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

#competences h2 {
        width: 50%;
        color: var(--color-gold, white);
}

.skills {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        justify-content: space-around;
        -webkit-perspective: 10000px;
        perspective: 10000px;
        position: relative
}

.skills__choice--container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        opacity: 1;
        /* transform: translateY(0); */
        /* animation: FadeIn--choice 0.5s ease-in-out; */
        transition: none;
}

.skills button.skills__choice {
        background-color: #666;
        border-radius: 2rem;
        padding: 1rem;
        font-size: 10rem;
        color: var(--text-primary);
        transition: background-color 0.5s ease-in-out;
        width: 70rem;
}

.skills button.skills__choice:hover {
        background-color: var(--color-gold);
        cursor: pointer;
}


.leftSide {
        align-content: center;
        animation: roll-out-right .5s ease-in-out;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        height: 100%;
        opacity: 0;
        transform: translatex(800%);
        width: 100%;
}


.skills .leftSide .skillsContainer {
        align-content: center;
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        height: auto;
        justify-content: center;
        padding: 2%;
        position: relative;
        width: 100%;
        margin-bottom: 5rem;
        -webkit-transform: perspective(150rem) rotateY(-15deg) translateZ(5px) translateX(-70px);
        transform: perspective(150rem) rotateY(-15deg) translateZ(5px) translateX(-70px);
        -webkit-transform-origin: right;
        transform-origin: right;
}


.skills .leftSide .skillsContainer:before {
        background-position: 50%;
        background-size: 65px;
        border-radius: 10px;
        content: "";
        display: block;
        height: 100%;
        margin: auto;
        opacity: 1;
        position: absolute;
        transition: all .35s cubic-bezier(.215, .61, .355, 1);
        width: 100%;
}

.skills .skill {
        border-radius: 10px;
        background-color: rgba(211, 183, 24, 0.200);
        display: flex;
        gap: 12px;
        padding: 10px 12px;
        width: 400px;
}

.skills .skill .iconContainer {
        align-items: center;
        /* background-color: white; */
        border-radius: 10px;
        display: flex;
        height: 150px;
        justify-content: center;
        width: 150px;
}

.skills .skill .iconContainer img {
        height: 70%;
        mix-blend-mode: luminosity;
        opacity: .8
}

.skills .skill .skillContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        text-transform: uppercase;
        width: auto
}

.skills .skill .skillContent p {
        /* color: #FFFDE7; */
        color: var(--text-primary);
        font-family: var(--font-family-primary);
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.4;
        margin: 0;
        -webkit-user-select: none;
        user-select: none
}

/* button close hardskills */

button.button__close {
        display: none;
        position: relative;
        width: auto;
        cursor: pointer;
        background: none;
        border: none;
}

.inner {
        min-width: 70px;
        text-align: center;
        padding: 1rem;
        position: relative;
}

span.label {
        font-size: 2rem;
        text-transform: uppercase;
        color: var(--text-primary);
        transition: all 0.3s ease-in;
        opacity: 0;
        cursor: pointer;
}

.inner:before,
.inner:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 70px;
        background-color: var(--color-gold);
        left: 15%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in;
}

.inner:before {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
}

.inner:after {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
}

button.button__close:hover span.label {
        opacity: 1;
}

button.button__close:hover .inner:before,
button.button__close:hover .inner:after {
        transform: rotate(0);
}

button.button__close:hover .inner:before {
        top: 0;
}

button.button__close:hover .inner:after {
        bottom: 0;
}

/* right */

.rightSide {
        align-items: center;
        animation: FadeOut--skills .5s ease-in-out;
        display: none;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        opacity: 0;
        position: relative;
        transform: translateY(-1000%);
        width: 100%;
}


.container-animate {
        margin: auto;
        width: 100%;
        filter: url(#threshold) blur(0.6px);
}

.animateSkill1,
.animateSkill2 {
        position: absolute;
        width: 100%;
        display: inline-block;
        color: #811453;
        /* font-family: "Hammersmith One", sans-serif; */
        font-family: 'Hammersmith One', sans-serif;
        font-size: 10rem;
        text-align: center;
        user-select: none;
}

.skills__active {
        display: flex;
        opacity: 1;
        transform: translateX(0);
        animation: roll-in-right 0.3s ease-out both;
}

.skills__choice--container--hidden {
        display: none;
        opacity: 0;
        height: 0;
        transform: translateY(-1000%);
        animation: FadeOut--choice .5s ease-in-out;
}

/* animations display leftSide rightSide */
@keyframes FadeIn--skills {
        0% {
                display: none;
                opacity: 0;
                transform: translateY(1000%);
        }

        1% {
                display: none;
                opacity: 1;
                transform: translateY(0);
        }

        100% {
                display: block;

        }
}

@keyframes FadeOut--skills {
        0% {
                display: block;
                opacity: 1;
                transform: translateY(0);
        }

        99% {
                display: block;
                opacity: 0;
                transform: translateY(1000%);
        }

        100% {
                display: none;

        }
}


@keyframes roll-in-right {
        0% {
                -webkit-transform: translateX(800%) rotate(540deg);
                transform: translateX(800) rotate(540deg);
                opacity: 0;
                display: none;
        }

        99% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1;
        }

        100% {
                display: flex;
        }
}

@keyframes roll-out-right {
        0% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1;
                display: flex;
        }

        99% {
                -webkit-transform: translateX(800%) rotate(540deg);
                transform: translateX(800%) rotate(5400deg);
                opacity: 0;
        }

        100% {
                display: flex;
        }
}

@keyframes FadeIn--choice {
        0% {
                display: none;
                opacity: 0;
                transform: translateY(-1000%);

        }

        1% {
                display: none;
                transform: translateY(0);
                opacity: 1;
        }

        100% {
                display: flex;

        }
}

@keyframes FadeOut--choice {
        0% {
                display: flex;
                opacity: 1;
                transform: translateY(0);
        }

        1% {
                display: flex;
                opacity: 0;
                transform: translateY(-1000%);
        }

        100% {
                display: none;

        }
}



/* slide */

.section--realisations {
        border-top-left-radius: 37px 140px;
        border-top-right-radius: 23px 130px;
        border-bottom-left-radius: 110px 19px;
        border-bottom-right-radius: 120px 24px;
        border: solid 10px #6e7491;
        box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
        width: 90vw;
}

#left-zone {
        align-items: center;
        display: flex;
        flex-grow: 0;
        justify-content: left;
        height: 75%;
        width: 350px;
}

#left-zone .list {
        align-content: stretch;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        list-style: none;
}

#left-zone .list li.item input[type="radio"] {
        display: none;
}

#left-zone .list li.item input[type="radio"]~label {
        display: block;
        font-size: 2rem;
        height: 50px;
        line-height: 50px;
        opacity: 0.5;
        text-align: center;
}

#left-zone .list li.item input[type="radio"]~label:first-letter {
        text-transform: uppercase;
}

#left-zone .list li.item input[type="radio"]~label:hover {
        cursor: pointer;
        opacity: 0.75;
}

#left-zone .list li.item input[type="radio"]~label.label_projet:before {
        background-position: center;
        background-size: 75% 75%;
        background-repeat: no-repeat;
        display: block;
        height: 50px;
        margin-left: 15px;
        position: absolute;
        width: 50px;
}

#left-zone .list li.item input[type="radio"]~label.projet1:before {
        /* background-image: url("../images/soft/football.png"); */
        content: '#1';
}

#left-zone .list li.item input[type="radio"]~label.projet2:before {
        content: '#2';
}

#left-zone .list li.item input[type="radio"]~label.projet3:before {
        content: '#3';
}

#left-zone .list li.item input[type="radio"]~label.projet4:before {
        content: '#4';
}

#left-zone .list li.item input[type="radio"]:checked~label {
        animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        font-size: 2.5rem;
        opacity: 1;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet1 {
        border-right: solid 4px #d64541;
        color: #d64541;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet2 {
        border-right: solid 4px #f5d76e;
        color: #f5d76e;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet3 {
        border-right: solid 4px #00b16a;
        color: #00b16a;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet4 {
        border-right: solid 4px #f27935;
        color: #f27935;
}

#middle-border {
        background-color: #eee;
        flex-grow: 1;
        height: 75%;
        max-width: 2px;
        z-index: 0;
}

#right-zone {
        flex-grow: 3;
        height: 100%;
        width: 70%;
}

#right-zone i {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0 1rem;
}

#right-zone img,
#right-zone h3,
#right-zone p {
        margin-bottom: 2rem;
}

/* #right-zone img {
        height: 30rem;
        object-fit: contain;
        width: 70rem;
} */

#right-zone img {
        height: 30rem;
        object-fit: contain;
        width: 70rem;
        border-radius: 8px;
        transform-origin: right center;
        transform: perspective(1000px) rotateY(-10deg) scale(1.1);
        transition: transform 0.3s ease-in-out;
}

#right-zone p {
        font-size: 1.6rem;
}

#right-zone .content {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5rem;
}

#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
        display: none;
}

#right-zone .content_projet1,
#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
        animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

#scene {
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        display: flex;
        height: 800px;
        justify-content: left;
        margin: auto;
        margin-top: 6rem;
        overflow: hidden;
        width: 70vw;
}

@keyframes slide-up {
        0% {
                transform: translateY(100%);
        }

        100% {
                transform: translateY(0%);
        }
}

/* bouton scroll */

#scrollButton {
        display: flex;
        justify-content: flex-end;
        margin-right: 8rem;
        position: absolute;
        right: 0;
}

.scroll-up {
        height: 40px;
        width: 40px;
        display: block;
        outline: 1px solid rgba(666, 666, 666, 0.08);
        position: relative;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
}

.scroll-up svg line {
        stroke-width: 1;
        stroke: #aaa;
        fill: none;
        stroke-dasharray: 20;
        transition: all 0.4s ease;
}

.scroll-up:hover svg line.top {
        transform: translateX(-40px);
}

.scroll-up:hover svg line.bottom {
        transform: translateX(40px);
}

.scroll-up:hover svg line.left {
        transform: translateY(40px);
}

.scroll-up:hover svg line.right {
        transform: translateY(-40px);
}

.scroll-up .left-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 5px;
        width: 18px;
        display: block;
        transform: rotate(-45deg);
}

.scroll-up .left-bar:after {
        content: "";
        background-color: #666;
        width: 18px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: right center;
        z-index: -1;
}

.scroll-up .right-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 17px;
        width: 18px;
        display: block;
        transform: rotate(45deg);
        border-radius: 2px;
}

.scroll-up .right-bar:after {
        content: "";
        background-color: #666;
        width: 18px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: left center;
        z-index: -1;
}

.scroll-up:hover {
        transition: all 0.1s;
}

.scroll-up:hover .left-bar:after {
        transform: rotate(-10deg);
}

.scroll-up:hover .right-bar:after {
        transform: rotate(10deg);
}


.footer__contacts h3 {
        text-shadow: var(--text--shadow);
        filter: saturate(60%);
        color: #d3d3d3;
        font-size: 4rem;
}

.footer__contacts--nav {
        display: flex;
}

.footer__contacts .presentation--contact--li {
        padding: 4rem;
}

.footer__contacts .presentation--contact--li.data--title::before, .footer__contacts .presentation--contact--li.data--title:hover::before {
        background-color: red;
        bottom: 100%;
        border-radius: 5px;
        content: attr(data-title);
        color: var(--text-primary, white);
        font-family: var(--font-family-primary);
        font-size: 1.4rem;
        left: 50%;
        padding: 5px;
        position: absolute;
        transform: translateX(-50%);
        width: 90%;
}

