@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

html {
        font-size: 62.5%;
}

body {
        background: #FAF8EA;
        background-attachment: fixed;
        font-family: 'Poppins', sans-serif;
        height: 100vh;
        overflow-x: hidden;
}

footer {
        align-items: center;
        color: black;
        display: flex;
        font-size: 1.4rem;
        height: 10vh;
        justify-content: center;
        text-align: center;
}

header {
        align-items: center;
        display: flex;
        height: 10vh;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-right: 20rem;
}

h1 {
        color: black;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
}

h2 {
        color: black;
        font-size: 4.5rem;
        font-weight: bold;
}

h3 {
        color: black;
        font-size: 2.5rem;
        font-weight: 100;
        margin-top: 2rem;
}

p {
        color: black;
        font-size: 1.4rem;
        font-weight: 100;
        text-align: justify;
}

footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

/* header nav */
.header--link--logo{
        margin-left: 8rem;
}
.header--link--logo:hover{
        filter: drop-shadow(0 0 10px black);
        cursor: pointer;
        }
.header--logo {
        max-width: 100%;
        height: 150px;
        object-fit: cover;
}

.nav--li--a {
        color: #495057;
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        text-align: center;
        text-decoration: none;
        width: 10rem;
}

.nav--ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

/* main presentation */

.bounce-in-right {
        animation: bounce-in-right 2.1s both;
        -webkit-animation: bounce-in-right 2.1s both;
}

.presentation {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 78vh;
        overflow: hidden;
        padding: 2rem;
        text-align: center;
        width: 100%;
}

/* animation photo */
@-webkit-keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(60rem);
                transform: translateX(60rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }

        38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }

        55% {
                -webkit-transform: translateX(6.8rem);
                transform: translateX(6.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        81% {
                -webkit-transform: translateX(3.2rem);
                transform: translateX(3.2rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        95% {
                -webkit-transform: translateX(0.8rem);
                transform: translateX(0.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(60rem);
                transform: translateX(60rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }

        38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }

        55% {
                -webkit-transform: translateX(6.8rem);
                transform: translateX(6.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        81% {
                -webkit-transform: translateX(3.2rem);
                transform: translateX(3.2rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        95% {
                -webkit-transform: translateX(0.8rem);
                transform: translateX(0.8rem);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

/* contact presentation */

.presentation--contact {
        margin-top: 2rem;
}

.presentation--contact a {
        display: inline-block;
        font-weight: 400;
        height: 35px;
        line-height: 1.45;
        margin: 0;
        position: relative;
        text-decoration: none;
        user-select: text;
        width: 35px;
}

.presentation--contact--li {
        padding: 2rem;
        position: relative;
}

.presentation--contact ul li:hover {
        margin: 3rem 0;
}

.presentation--contact--li svg {
        fill: inherit;
}

.presentation--contact--li:hover svg {
        fill: #755cde;
        transform: translateY(-5px);
        white-space: pre-wrap;
}

.presentation--texte {
        font-size: 4rem;
        margin-right: 10rem;
}

.section {
        padding: 3% 10%;
        width: 100%;
}

/* softs-skills */
img#symfony {
        height: 11rem;
        width: 11rem;
}

.container--skills {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        width: 100%;
}

.data--title {
        position: relative;
}

.data--title::before {
        background-color: #000;
        bottom: 100%;
        border-radius: 5px;
        content: attr(data-title);
        color: #fff;
        font-size: 1.4rem;
        left: 50%;
        opacity: 0;
        padding: 5px;
        position: absolute;
        transform: translateX(-50%);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.data--title:hover::before {
        /* Fond noir */
        background-color: #000;
        border-radius: 5px;
        bottom: 100%;
        content: attr(data-title);
        /* Texte blanc */
        color: #fff;
        font-size: 1.4rem;
        left: 50%;
        opacity: 1;
        padding: 5px;
        position: absolute;
        transform: translateX(-50%);
        transition: opacity 150ms linear, transform 150ms linear;
}


.item-skill {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 35%;
}

.item-skill h2 {
        align-self: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 29%, rgba(241, 53, 8, 1) 50%, rgba(255, 255, 255, 0) 71%);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        margin-bottom: 2rem;
        text-align: center;
        width: 100%;
}

.item-skill:first-child h2 {
        margin-bottom: 3rem;
}

.section--skills,
.section--realisations {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2.5rem 0;
        padding-bottom: 2rem;
        overflow: hidden;
        width: 100vw;
}

.section--skills img {
        display: inline-block;
        height: 8rem;
        margin: 0 1rem;
        width: 8rem;
}



.row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
}

.wobble-hor-bottom {
        animation: wobble-hor-bottom 10s linear infinite both;
        -webkit-animation: wobble-hor-bottom 10s linear infinite both;
}

/* ----------------------------------------
     * animation wobble-hor-bottom
     * ----------------------------------------
     */
@-webkit-keyframes wobble-hor-bottom {

        0%,
        100% {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }

        15% {
                -webkit-transform: translateX(-30px) rotate(-6deg);
                transform: translateX(-30px) rotate(-6deg);
        }

        30% {
                -webkit-transform: translateX(15px) rotate(6deg);
                transform: translateX(15px) rotate(6deg);
        }

        45% {
                -webkit-transform: translateX(-15px) rotate(-3.6deg);
                transform: translateX(-15px) rotate(-3.6deg);
        }

        60% {
                -webkit-transform: translateX(9px) rotate(2.4deg);
                transform: translateX(9px) rotate(2.4deg);
        }

        75% {
                -webkit-transform: translateX(-6px) rotate(-1.2deg);
                transform: translateX(-6px) rotate(-1.2deg);
        }
}

@keyframes wobble-hor-bottom {

        0%,
        100% {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }

        15% {
                -webkit-transform: translateX(-30px) rotate(-6deg);
                transform: translateX(-30px) rotate(-6deg);
        }

        30% {
                -webkit-transform: translateX(15px) rotate(6deg);
                transform: translateX(15px) rotate(6deg);
        }

        45% {
                -webkit-transform: translateX(-15px) rotate(-3.6deg);
                transform: translateX(-15px) rotate(-3.6deg);
        }

        60% {
                -webkit-transform: translateX(9px) rotate(2.4deg);
                transform: translateX(9px) rotate(2.4deg);
        }

        75% {
                -webkit-transform: translateX(-6px) rotate(-1.2deg);
                transform: translateX(-6px) rotate(-1.2deg);
        }
}

/* slide */

#left-zone {
        align-items: center;
        display: flex;
        flex-grow: 0;
        justify-content: left;
        height: 75%;
        width: 350px;
}

#left-zone .list {
        align-content: stretch;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        list-style: none;
}

#left-zone .list li.item input[type="radio"] {
        display: none;
}

#left-zone .list li.item input[type="radio"]~label {
        display: block;
        font-size: 2rem;
        height: 50px;
        line-height: 50px;
        opacity: 0.5;
        text-align: center;
}

#left-zone .list li.item input[type="radio"]~label:first-letter {
        text-transform: uppercase;
}

#left-zone .list li.item input[type="radio"]~label:hover {
        cursor: pointer;
        opacity: 0.75;
}

#left-zone .list li.item input[type="radio"]~label.label_projet:before {
        background-position: center;
        background-size: 75% 75%;
        background-repeat: no-repeat;
        display: block;
        height: 50px;
        margin-left: 15px;
        position: absolute;
        width: 50px;
}

#left-zone .list li.item input[type="radio"]~label.projet1:before {
        /* background-image: url("../images/soft/football.png"); */
        content: '#1';
}

#left-zone .list li.item input[type="radio"]~label.projet2:before {
        content: '#2';
}

#left-zone .list li.item input[type="radio"]~label.projet3:before {
        content: '#3';
}

#left-zone .list li.item input[type="radio"]~label.projet4:before {
        content: '#4';
}

#left-zone .list li.item input[type="radio"]:checked~label {
        animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        font-size: 2.5rem;
        opacity: 1;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet1 {
        border-right: solid 4px #d64541;
        color: #d64541;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet2 {
        border-right: solid 4px #f5d76e;
        color: #f5d76e;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet3 {
        border-right: solid 4px #00b16a;
        color: #00b16a;
}

#left-zone .list li.item input[type="radio"]:checked~label.projet4 {
        border-right: solid 4px #f27935;
        color: #f27935;
}

#middle-border {
        background-color: #eee;
        flex-grow: 1;
        height: 75%;
        max-width: 2px;
        z-index: 0;
}

#right-zone {
        flex-grow: 3;
        height: 100%;
        width: 70%;
}

#right-zone i {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0 1rem;
}

#right-zone img,
#right-zone h3,
#right-zone p {
        margin-bottom: 2rem;
}

/* #right-zone img {
        height: 30rem;
        object-fit: contain;
        width: 70rem;
} */

#right-zone img {
        height: 30rem;
        object-fit: contain;
        width: 70rem;
        border-radius: 8px;
        transform-origin: right center;
        transform: perspective(1000px) rotateY(-10deg) scale(1.1);
        transition: transform 0.3s ease-in-out;
}

#right-zone p {
        font-size: 1.6rem;
}

#right-zone .content {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5rem;
}

#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
        display: none;
}

#right-zone .content_projet1,
#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
        animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

#scene {
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        display: flex;
        height: 800px;
        justify-content: left;
        margin: auto;
        margin-top: 6rem;
        overflow: hidden;
        width: 70vw;
}

@keyframes slide-up {
        0% {
                transform: translateY(100%);
        }

        100% {
                transform: translateY(0%);
        }
}

/* bouton scroll */

#scrollButton {
        display: flex;
        justify-content: flex-end;
        margin-right: 8rem;
        position: absolute;
        right: 0;
}

.scroll-up {
        height: 40px;
        width: 40px;
        display: block;
        outline: 1px solid rgba(666, 666, 666, 0.08);
        position: relative;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
}

.scroll-up svg line {
        stroke-width: 1;
        stroke: #aaa;
        fill: none;
        stroke-dasharray: 20;
        transition: all 0.4s ease;
}

.scroll-up:hover svg line.top {
        transform: translateX(-40px);
}

.scroll-up:hover svg line.bottom {
        transform: translateX(40px);
}

.scroll-up:hover svg line.left {
        transform: translateY(40px);
}

.scroll-up:hover svg line.right {
        transform: translateY(-40px);
}

.scroll-up .left-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 5px;
        width: 18px;
        display: block;
        transform: rotate(-45deg);
}

.scroll-up .left-bar:after {
        content: "";
        background-color: #666;
        width: 18px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: right center;
        z-index: -1;
}

.scroll-up .right-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 17px;
        width: 18px;
        display: block;
        transform: rotate(45deg);
        border-radius: 2px;
}

.scroll-up .right-bar:after {
        content: "";
        background-color: #666;
        width: 18px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: left center;
        z-index: -1;
}

.scroll-up:hover {
        transition: all 0.1s;
}

.scroll-up:hover .left-bar:after {
        transform: rotate(-10deg);
}

.scroll-up:hover .right-bar:after {
        transform: rotate(10deg);
}





  
  /* Button component */
  .button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  
  /* Type 3 */
  .button.type3 {
    color: #435a6b;
  }
  
  .button.type3::after,
  .button.type3::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  
  .button.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
  }
  
  .button.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
  }
  
  .button.type3:hover::after,
  .button.type3:hover::before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%;
  }
  
  .skills-containers {
 display: flex;
  }

  .skill {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  }

  