
header {
    height: 10vh;
    width: 100%;
    margin: auto;
}

nav {
    width: 100%;
}

.header__logo--link {
    margin-left: 8rem;
    transition: filter 0.8s;
}

.header__logo--link:hover {
    cursor: pointer;
    filter: var(--drop-shadow);
}

.header__logo--img {
    height: 200px;
    max-width: 100%;
    object-fit: cover;
}

.nav__li--a {
    color: var(--text-primary);
    display: block;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: auto;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.nav__ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
