@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* debut version mobile */

html {
        font-size: 62.5%;
}

body {
        background: var(--bg-color, #302B63);
        background-attachment: fixed;
        font-family: var(--font-family-primary);
        height: 100vh;
        margin: auto;
        overflow-x: hidden;
        width: 90vw;
}

h1 {
        font-size: 4.5rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
}

h2 {
        font-size: 4rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
}

h3 {

        font-size: 2.5rem;
        font-weight: 100;
        margin-top: 2rem;
}

section {
        margin: auto;
        margin-top: 5rem;
}

section:first-of-type {
        margin-top: 0;
}
section:first-of-type,
section:last-of-type {
        margin-bottom: 3rem;
}
/* fin version mobile */
/* version laptop 
html {
        font-size: 62.5%;
}

body {
        background: var(--bg-color, #302B63);
        background-attachment: fixed;
        font-family: var(--font-family-primary);
        height: 100vh;
        margin: auto;
        overflow-x: hidden;
        width: 90vw;
}

h2 {
        font-size: 8rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
}

h3 {

        font-size: 2.5rem;
        font-weight: 100;
        margin-top: 2rem;
}

section {
        margin: auto;
        margin-bottom: 20rem;
}

section:first-of-type,
section:last-of-type {
        margin-bottom: 3rem;
} 
fin version laptop */
