footer {
    align-items: center;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3% 10%;
    width: 100%;
    color: #d3d3d3;
}

.footer__contacts h3 {
    text-shadow: var(--text-shadow);
    filter: saturate(60%);
    color: #d3d3d3;
    font-size: 4rem;
}

.footer__contacts--nav {
    display: flex;
}

.footer__contacts .presentation--contact--li {
    padding: 4rem;
}

.footer__contacts .presentation--contact--li.data--title::before, .footer__contacts .presentation--contact--li.data--title:hover::before {
    background-color: red;
    bottom: 100%;
    border-radius: 5px;
    content: attr(data-title);
    color: var(--text-primary, white);
    font-family: var(--font-family-primary);
    font-size: 1.4rem;
    left: 50%;
    padding: 5px;
    position: absolute;
    transform: translateX(-50%);
    width: 90%;
}