/* version mobile */
header {
    margin: auto;
    margin-top: 3rem;
    width: 100%;
}

nav {
    width: 100%;
}

header ul li:first-child {
    display: none;
}


.nav__ul li.button__border--type1 {
    margin-bottom: 20px;
    padding: 1rem;
}

.nav__ul .nav__li--a {
    color: var(--text-primary);
    display: block;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}

.nav__li--a[href*="mailto"]::after {
    content : 'CONTACT'
}

.nav__ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* version laptop */
@media only screen and (min-width:1024px) {
    header {
        height: 10vh;
        margin-top: 0;
    }

    header ul li:first-child {
        display: inline;
    }

    header ul li:last-child {
        display: none;
    }
    .header__logo--link {
        margin-left: 8rem;
        transition: filter 0.8s;
    }
    
    .header__logo--link:hover {
        cursor: pointer;
        filter: var(--drop-shadow);
    }
    
    .header__logo--img {
        display: flex;
        height: 200px;
        max-width: 100%;
        object-fit: cover;
    }

    .nav__ul .nav__li--a {
        font-size: 2.5rem;
        text-transform:inherit;
    }

    .nav__ul {
        justify-content: space-between;
    }
    
}
