/* début version mobile */
.bounce-in-right {
    animation: bounce-in-right 2.1s both;
    -webkit-animation: bounce-in-right 2.1s both;
}

.presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 90vh;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.presentation__content {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.presentation__content--texte {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-primary);
    font-size: 2.5rem;
    min-height: 50vh;
    justify-content: space-between;

}

.presentation__content--texte strong {
    color: var(--text-primary);
    font-size: 4rem;
    font-weight: bold;
}

.presentation__content--texte p {
    color: var(--color-gold);
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-align: center;
}

.presentation__content--texte p:nth-child(1), .presentation__content--texte p:nth-child(3) {
    font-size: 2rem;
}

.presentation--visuel {
    display: none;
}

.presentation--contact {
    display: none;
}

/* fin version mobile */
/* debut laptop */

@media only screen and (min-width:1024px) {
    .presentation {
        align-content: center;
    }
    .presentation__content {
        align-items: stretch;
        height: 70vh;
        justify-content: space-between;
        width: 100%;
    }
    .presentation__content--texte {
        justify-content: space-around;
        font-size: 2.5rem;
    }
    
    .presentation__content--texte strong {
        font-size: 4.5rem;
    }
 
    .presentation--visuel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .presentation--visuel img {
    height: 500px;
    width: auto;
    }


    .presentation--contact {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .presentation--contact a {
        display: inline-block;
        font-weight: 400;
        height: 35px;
        line-height: 1.45;
        margin: 0;
        position: relative;
        text-decoration: none;
        user-select: text;
        width: 35px;
    }
    
    .presentation--contact--li {
        padding: 4rem 4rem 4rem 0;
        position: relative;
    }
    
    .presentation--contact ul li:hover {
        margin: 3rem 0;
    }
    
    .presentation--contact--li svg {
        fill: #811453;
    }
    
    .presentation--contact--li:hover svg {
        fill: var(--color-gold);
        transform: translateY(-5px);
        white-space: pre-wrap;
    } 
}

@media only screen and (min-width:1040px) {

.presentation__content--texte strong {
    font-size: 7.5rem;
}
.presentation__content--texte p {
    font-size: 4rem;
}
}
/* fin version laptop  */



