/* mobile first */ 
a, p, ul, li {
    font-size: 1.2rem;
}
.backtohome {
    text-decoration: none;
    color: var(--color-gold);
}
.center-picture {
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3 {
    color: var(--color-gold);
    width: 100%;
    text-align: center;
}

.picture__projet {
width: 80%;
height: auto;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border: 1px dashed var(--color-gold);
    padding: 1rem 2rem;
    margin: 2rem;

}
.description h4 {
    color: var(--text-primary);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.description p {
    margin: 1rem 0rem 0rem 0rem;
    color: var(--text-primary);
    text-align: justify;
    line-height: 1.5rem;
}
.description p:nth-child(3) {
    color: var(--color-gold);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}
.description p:last-of-type{
    margin-bottom: 2rem;
}
.description ul li{
    color: var(--text-primary);
    text-align: justify;
    margin: 1rem;
}
.description a {
    text-decoration: none;
    color: var(--color-gold);
}

@media screen and (min-width: 700px) {
a, p, ul, li {
    font-size: 1.5rem;
}
.backtohome {
    font-size: 3rem;
}
}
@media only screen and (min-width:1024px) { 
    #section--projet {
        margin-top: 10rem;
    }

    .container h1 {
        margin-bottom: 3rem;
    }
    .description h4 {
        font-size: 3rem;
        margin: 5rem;
    }
    .description p {
        line-height: 3rem;
    }
    a, p, .description ul li {
        font-size: 1.8rem;
    }
}