/* debut version mobile */
.section--realisations {
    width: 100%;
    height: auto;
}

h2#realisations {
    color: var(--color-gold, white);
    font-size: 3rem;

}

#left-zone {
    align-items: center;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    height: 75%;
    width: 100%;
}

#left-zone .list {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
}

#left-zone .list li.item input[type="radio"] {
    display: none;
}

#left-zone .list li.item input[type="radio"]~label {
    display: block;
    font-size: 2.5rem;
    height: 50px;
    line-height: 50px;
    opacity: 0.5;
    text-align: center;
    color: var(--text-primary);
}

#left-zone .list li.item input[type="radio"]~label:first-letter {
    text-transform: uppercase;
}

#left-zone .list li.item input[type="radio"]~label:hover {
    cursor: pointer;
    opacity: 0.75;
}

#left-zone .list li.item input[type="radio"]~label.label_projet:before {
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
}

#left-zone .list li.item input[type="radio"]~label.projet1:before {
    content: '#1';
}

#left-zone .list li.item input[type="radio"]~label.projet2:before {
    content: '#2';
}

#left-zone .list li.item input[type="radio"]~label.projet3:before {
    content: '#3';
}

#left-zone .list li.item input[type="radio"]~label.projet4:before {
    content: '#4';
}

#left-zone .list li.item input[type="radio"]:checked~label {
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 1;
}

#left-zone .list li.item input[type="radio"]:checked~label {
    border-right: solid 2px var(--color-gold);
    color: var(--color-gold);
}

#middle-border {
    display: none;
}

#right-zone {
    flex-grow: 3;
    height: 100%;
    margin-top: 50px;
    width: 100%;
}

#right-zone .content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}


#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
    display: none;
}

#right-zone .content_projet1,
#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

#right-zone i {
    display: inline-block;
    font-size: 1.8rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

#right-zone .content img {
    min-height: 30rem;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    display: block;
    margin: auto;
}


#right-zone img,
#right-zone h3,
#right-zone p {
    margin-bottom: 2rem;
}

#right-zone h3,
#right-zone i {
    color: var(--color-gold);
}

#right-zone h3 {
    font-size: 2.5rem;
    text-align: center;
}

#right-zone .name--technology {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#right-zone p {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
    font-weight: 100;
    line-height: 3rem;
    text-align: center;
}

#right-zone p a {
    color: var(--color-gold);
}

#scene {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    margin: auto;
    margin-top: 6rem;
    overflow: hidden;
    width: 100%;
}

/* mobile taille L */
@media screen and (min-width: 425px) {

   h2#realisations {
        font-size: 4rem;
    }

}
/* fin version mobile */




/* debut version laptop

.section--realisations {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    border: solid 10px #6e7491;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90vh;
}

h2#realisations {
    color: var(--color-gold, white);

}

#left-zone {
    align-items: center;
    display: flex;
    flex-grow: 0;
    justify-content: left;
    height: 75%;
    width: 30%;
}

#left-zone .list {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
}

#left-zone .list li.item input[type="radio"] {
    display: none;
}

#left-zone .list li.item input[type="radio"]~label {
    display: block;
    font-size: 2.5rem;
    height: 50px;
    line-height: 50px;
    opacity: 0.5;
    text-align: center;
    color: var(--text-primary);
}

#left-zone .list li.item input[type="radio"]~label:first-letter {
    text-transform: uppercase;
}

#left-zone .list li.item input[type="radio"]~label:hover {
    cursor: pointer;
    opacity: 0.75;
}

#left-zone .list li.item input[type="radio"]~label.label_projet:before {
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    margin-left: 15px;
    position: absolute;
    width: 50px;
}

#left-zone .list li.item input[type="radio"]~label.projet1:before {
    content: '#1';
}

#left-zone .list li.item input[type="radio"]~label.projet2:before {
    content: '#2';
}

#left-zone .list li.item input[type="radio"]~label.projet3:before {
    content: '#3';
}

#left-zone .list li.item input[type="radio"]~label.projet4:before {
    content: '#4';
}

#left-zone .list li.item input[type="radio"]:checked~label {
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-size: 3rem;
    opacity: 1;
}

#left-zone .list li.item input[type="radio"]:checked~label {
    border-right: solid 4px var(--color-gold);
    color: var(--color-gold);
}

#middle-border {
    background-color: #eee;
    flex-grow: 1;
    height: 75%;
    max-width: 2px;
    z-index: 0;
}

#right-zone {
    flex-grow: 3;
    height: 100%;
    width: 70%;
}

#right-zone i {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 1rem;
}

#right-zone img,
#right-zone h3,
#right-zone p {
    margin-bottom: 2rem;
}

#right-zone .content img {
    height: 30rem;
    object-fit: contain;
    width: 70rem;
    border-radius: 8px;
    transform-origin: right center;
    transform: perspective(1000px) rotateY(-10deg) scale(1.1);
    transition: transform 0.3s ease-in-out;
    display: block;
    margin: auto;
}

#right-zone p {
    font-size: 2rem;
    color: var(--text-primary);
    line-height: 4rem;
}

#right-zone p a {
    color: var(--color-gold);
}

#right-zone  h3, #right-zone i {
    color: var(--color-gold);
}
#right-zone  h3 {
    font-size: 2.5rem;
}
#right-zone i {
    font-size: 1.8rem;
}
#right-zone .content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5rem;
}

#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
    display: none;
}

#right-zone .content_projet1,
#right-zone .content_projet2,
#right-zone .content_projet3,
#right-zone .content_projet4 {
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

#scene {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: left;
    margin: auto;
    margin-top: 6rem;
    overflow: hidden;
    width: 70vw;
}  

fin version laptop*/